body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e74c3c 0%, #e74c3c 25%, #fff 50%, #fff 25%, #3498db 75%, #3498db 100%);
    color: #000; /* Set default text color to black */
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#sources {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: inline-block;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

.fox-source {
    background-color: #e74c3c; /* Red color for Fox News */
    color: #fff;
}

.abc-source {
    background-color: #95a5a6; /* grey color for ABC */
    color: #fff;
}

.nyt-source {
    background-color: #3498db; /* Dark blue color for New York Times */
    color: #fff;
}

.nyp-source {
    background-color: #e74c3c; /* Grey color for New York Post */
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#keyword {
    border: 1px solid #ccc;
    border-radius: 8px; /* Add rounded corners */
    padding: 10px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px; /* Add rounded corners */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

#resultContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db; /* Dark blue color for New York Times */
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.news-section {
    flex: 1;
}

h1, h2, p, label, li {
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Loading indicator styles */
#loadingIndicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

#loadingIndicator::after {
    content: "Loading...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #000;
}
